In [1]:
import pandas as pd

In [2]:
featured_data = pd.read_csv("../data/rapido_feature_engineered.csv")

In [3]:
featured_data.head()

,number,is_weekend,is_weekday,is_start_of_week,is_wednesday,is_end_of_week,is_holidays,date
0,14626,True,False,False,False,False,False,2018-04-07
1,85490,True,False,False,False,False,False,2018-04-07
2,5408,True,False,False,False,False,False,2018-04-07
3,58940,True,False,False,False,False,False,2018-04-07
4,5408,True,False,False,False,False,False,2018-04-07

- target variable is missing

In [4]:
holiday_data = pd.read_csv("../data/Holiday.csv")
holiday_data.DAY = holiday_data.DAY.apply(str)
holiday_data.DATE = holiday_data.DATE.astype('datetime64[ns]')
holiday_data.HOLIDAY = holiday_data.HOLIDAY.apply(str)

### User Id 69431

In [5]:
selected_user = 69431
user = featured_data[featured_data.number==selected_user].reset_index(drop=True)

In [6]:
user = user.drop_duplicates('date').reset_index(drop=True)
user['booking_class'] = 1
user.date = pd.to_datetime(user.date)

In [7]:
negative_test_case = pd.DataFrame(data=pd.date_range(user.date.min(),user.date.max()),columns=['date'])

In [8]:
negative_test_case['is_weekend'] = negative_test_case.date.dt.dayofweek.isin([5,6])
negative_test_case['is_weekday'] = negative_test_case.date.dt.dayofweek.isin(range(1,5))
negative_test_case['is_start_of_week'] = negative_test_case.date.dt.dayofweek.isin([0,1])
negative_test_case['is_wednesday'] = negative_test_case.date.dt.day_name().isin(['Wednesday'])
negative_test_case['is_end_of_week'] = negative_test_case.date.dt.dayofweek.isin([3,4])

In [9]:
negative_test_case['is_holidays'] = negative_test_case.date.dt.date.isin(holiday_data.DATE.dt.date)

In [10]:
negative_test_case['number']=selected_user
negative_test_case['booking_class']=0

In [11]:
negative_test_case = negative_test_case[~negative_test_case.date.isin(user.date)]

In [12]:
total_data_set =  pd.merge(user,negative_test_case,how='outer').reset_index(drop=True)
#total_data_set = pd.concat([user,negative_test_case])

In [13]:
total_data_set.reindex(columns=["date","number","is_weekend","is_weekday","is_start_of_week","is_wednesday","is_end_of_week","is_holidays","booking_class"])

,date,number,is_weekend,is_weekday,is_start_of_week,is_wednesday,is_end_of_week,is_holidays,booking_class
0,2018-04-07,69431,True,False,False,False,False,False,1
1,2018-05-01,69431,False,True,True,False,False,True,1
2,2018-05-04,69431,False,True,False,False,True,False,1
3,2018-05-28,69431,False,False,True,False,False,False,1
4,2018-05-29,69431,False,True,True,False,False,False,1
5,2018-05-30,69431,False,True,False,True,False,False,1
6,2018-06-01,69431,False,True,False,False,True,False,1
7,2018-06-04,69431,False,False,True,False,False,False,1
8,2018-06-05,69431,False,True,True,False,False,False,1
9,2018-06-06,69431,False,True,False,True,False,False,1
10,2018-06-07,69431,False,True,False,False,True,False,1
11,2018-06-10,69431,True,False,False,False,False,False,1
12,2018-06-11,69431,False,False,True,False,False,False,1
13,2018-06-13,69431,False,True,False,True,False,False,1
14,2018-06-14,69431,False,True,False,False,True,False,1
15,2018-06-15,69431,False,True,False,False,True,False,1
16,2018-06-18,69431,False,False,True,False,False,False,1
17,2018-06-19,69431,False,True,True,False,False,False,1
18,2018-06-20,69431,False,True,False,True,False,False,1
19,2018-06-21,69431,False,True,False,False,True,False,1
20,2018-06-22,69431,False,True,False,False,True,False,1
21,2018-06-25,69431,False,False,True,False,False,False,1
22,2018-06-26,69431,False,True,True,False,False,False,1
23,2018-06-27,69431,False,True,False,True,False,False,1
24,2018-06-28,69431,False,True,False,False,True,False,1
25,2018-06-29,69431,False,True,False,False,True,False,1
26,2018-07-19,69431,False,True,False,False,True,False,1
27,2018-07-20,69431,False,True,False,False,True,False,1
28,2018-07-21,69431,True,False,False,False,False,False,1
29,2018-07-22,69431,True,False,False,False,False,False,1
...,...,...,...,...,...,...,...,...,...
336,2018-10-02,69431,False,True,True,False,False,True,0
337,2018-10-06,69431,True,False,False,False,False,False,0
338,2018-10-10,69431,False,True,False,True,False,False,0
339,2018-10-12,69431,False,True,False,False,True,False,0
340,2018-10-13,69431,True,False,False,False,False,False,0
341,2018-10-14,69431,True,False,False,False,False,False,0
342,2018-10-19,69431,False,True,False,False,True,True,0
343,2018-10-21,69431,True,False,False,False,False,False,0
344,2018-10-22,69431,False,False,True,False,False,False,0
345,2018-10-23,69431,False,True,True,False,False,False,0
346,2018-10-24,69431,False,True,False,True,False,False,0
347,2018-10-25,69431,False,True,False,False,True,False,0
348,2018-10-27,69431,True,False,False,False,False,False,0
349,2018-11-01,69431,False,True,False,False,True,False,0
350,2018-11-04,69431,True,False,False,False,False,False,0
351,2018-11-05,69431,False,False,True,False,False,False,0
352,2018-11-06,69431,False,True,True,False,False,False,0
353,2018-11-07,69431,False,True,False,True,False,True,0
354,2018-11-13,69431,False,True,True,False,False,False,0
355,2018-11-23,69431,False,True,False,False,True,True,0
356,2018-11-24,69431,True,False,False,False,False,False,0
357,2018-12-02,69431,True,False,False,False,False,False,0
358,2018-12-03,69431,False,False,True,False,False,False,0
359,2018-12-05,69431,False,True,False,True,False,False,0
360,2018-12-22,69431,True,False,False,False,False,False,0
361,2018-12-24,69431,False,False,True,False,False,False,0
362,2018-12-27,69431,False,True,False,False,True,False,0
363,2018-12-28,69431,False,True,False,False,True,False,0
364,2019-04-01,69431,False,False,True,False,False,False,0
365,2019-04-04,69431,False,True,False,False,True,False,0

In [14]:
total_data_set.drop(['number','date'],axis=1,inplace=True)

In [15]:
total_data_set.shape

(366, 7)

In [16]:
total_data_set.groupby('booking_class').booking_class.count()

booking_class
0    130
1    236
Name: booking_class, dtype: int64

In [17]:
total_data_set.dtypes

is_weekend          object
is_weekday          object
is_start_of_week    object
is_wednesday        object
is_end_of_week      object
is_holidays         object
booking_class        int64
dtype: object

In [18]:
total_data_set.is_weekday = total_data_set.is_weekday.astype('int')
total_data_set.is_start_of_week = total_data_set.is_start_of_week.astype('int')
total_data_set.is_weekend = total_data_set.is_weekend.astype('int')
total_data_set.is_end_of_week = total_data_set.is_end_of_week.astype('int')
total_data_set.is_wednesday = total_data_set.is_wednesday.astype('int')
total_data_set.is_holidays = total_data_set.is_holidays.astype('int')

In [22]:
total_data_set.head()

,is_weekend,is_weekday,is_start_of_week,is_wednesday,is_end_of_week,is_holidays,booking_class
0,1,0,0,0,0,0,1
1,0,1,1,0,0,1,1
2,0,1,0,0,1,0,1
3,0,0,1,0,0,0,1
4,0,1,1,0,0,0,1

In [24]:
total_data_set.to_csv("../data/final_data.csv",index=False)